{% extends "classic/inc/base2.html" %}
{% load staticfiles static %}

{# navigazione attiva #}
{% block about_navigation_active %}active{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<div id="fh5co-about">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>How we started</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row row-bottom-padded-md">
				<div class="col-md-12 animate-box">
					<figure>
						<img src="images/about-image.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 animate-box">
					<h3>Simple &amp; Humble Beginning</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum perspiciatis, debitis pariatur atque vitae sed blanditiis nobis sint, reprehenderit quas, natus corrupti! Ipsum cum possimus corporis aut architecto! Delectus enim adipisci quidem possimus voluptates! Aut ut aliquid molestias laudantium.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
