{% extends "classic/inc/base2.html" %}
{% load staticfiles static %}

{# navigazione attiva #}
{% block contact_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}Contatti{% endblock %}
{% block page_subtitle %}Lorem ipsum dolor sit amet, consectetur adipiscing elit{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<div id="fh5co-contact" class="animate-box">
		<div class="container">
			<form action="#">
				<div class="row">
					<div class="col-md-6">
						<h3 class="section-title">Our Address</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
						<ul class="contact-info">
							<li><i class="icon-location-pin"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
							<li><i class="icon-phone2"></i>+39 123456789</li>
							<li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Send Message" class="btn btn-primary">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- END fh5co-contact -->
	<div id="map" class="fh5co-map"></div>
	<!-- END map -->
{% endblock %}
